@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Playwrite PL", sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 65vh;
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: rgb(241, 240, 240);
    position: relative;
}
.top {
    height: 70px;
    width: 25vw;
    border: 3px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top span {
    width: 20vw;
    padding: 0px 10px;
    font-size: 1.2rem;
}
.top i {
    width: 5vw;
    text-align: center;
    font-size: 2.1rem;
}
.middle {
    height: 100px;
    width: 25vw;
    border: 3px solid;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.year {
    height: 50px;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.days {
    height: 50px;
    width: 100%;
    padding: 0px 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero {
    height: 40vh;
    width: 25vw;
    border: 1px solid;
    background: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: absolute;
    top: 178px;
    user-select: none;
}
.day {
    width: 3.5vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    cursor: pointer;
    background: white;
}
.opacity {
    opacity: 0.5;
}
.day:hover{
    background: rgb(189, 189, 189);
}